@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #696969;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: #ffffff;
}

h3 {
    font-size: 1.3rem;
    display: block;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 1.5rem 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 180px;
    cursor: pointer;
    text-decoration: none;
    color: #141414;
    font-weight: bold;
    gap: 90px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color: #eb4646;
}

form {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 300px;
}

input,
textarea {
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    resize: vertical;
    font-family: inherit;
    transition: border 0.3s;
}

input:focus,
textarea:focus {
    border-color: #141414;
    outline: none;
}

button {
    background-color: #141414;
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #eb2020;
    transform: translateY(-2px);
}

#Logout {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #eb2020;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    z-index: 1000;
}

#Logout:hover {
    background-color: #141414;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.7rem;
        text-align: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        max-width: 300px;
    }
}

#tickets {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem; 
  justify-content: center;
}

.ticket-card {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  max-width: 300px;
  box-sizing: border-box;
}

.ticket-card button {
  background: #eb2020;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.ticket-card button:hover {
  background: #c71b1b;
}
